version: '3.1'

services:
  db:
      image: postgres
      restart: always
      environment:
        POSTGRES_PASSWORD: postgres
        POSTGRES_USER: postgres
        POSTGRES_DB: postgres
      ports:
          - "15432:5432"
  db-host-inventory:
      image: postgres
      restart: always
      environment:
        POSTGRES_PASSWORD: insights
        POSTGRES_USER: insights
        POSTGRES_DB: insights
      ports:
        - "5432:5432"
  grafana:
      ports:
          - '3000:3000'
      container_name: grafana
      environment:
          - GF_SERVER_ROOT_URL=http://grafana.server.name
          - GF_SECURITY_ADMIN_PASSWORD=secret
      image: grafana/grafana
  prometheus:
      container_name: prometheus
      ports:
          - '9090:9090'
      volumes:
          - './scripts/config/prometheus.yml:/etc/prometheus/prometheus.yml'
          - './scripts/config/prometheus_rules.yml:/etc/prometheus/prometheus_rules.yml'
      image: prom/prometheus