[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
asynctest = "==0.13.0"
autopep8 = "==1.5.2"
codecov = "==2.0.22"
coverage = "==5.1"
flake8 = "==3.7.9"
pylint = "==2.5.3"
pylint-django = "==2.0.15"
pylint-plugin-utils = "==0.6"
requests-mock = "==1.7.0"
sphinx = "==3.0.4"
sphinx-autobuild = "==0.7.1"
sphinx-rtd-theme = "==0.4.3"
tox = "==3.14.6"

[packages]
Django = "==4.0.5"
aiokafka = "==0.7.2"
app-common-python = "~=0.2.0"
boto3 = "==1.24.0"
django-environ = "==0.8.1"
django-prometheus = "==2.2.0"
djangorestframework = "==3.13.1"
gunicorn = "==20.1.0"
prometheus-client = "==0.14.1"
psycopg2-binary = "==2.9.3"
requests = "==2.27.1"
sqlparse = "==0.4.2"
watchtower = "==3.0.0"
whitenoise = "==6.1.0"

[requires]
python_version = "3.6"
