# This is an example parameter file used with the openshift templates.
#
# Copy this file to yupana.git/openshift/parameters and remove .example extension.
# Modify/Add/Comment out any values you want to change.
#
NAME=yupana
NAMESPACE=yupana
KAFKA_HOST=localhost
KAFKA_PORT=29092
POSTGRES_SQL_SERVICE_HOST='yupana-db.yupana.svc'
BUILD_VERSION='0.0.0'
