# This is an example parameter file used with the openshift templates.
#
# Copy this file to yupana.git/openshift/parameters and remove the .deploy.example extension.
# Modify/Add/Comment/Uncomment out any values you want to change.
#
NAMESPACE=yupana
