#
# Copy this file to yupana.git/openshift/parameters and remove the .deploy.example extension.
# Modify/Add/Comment/Uncomment out any values you want to change.
#
# NAMESPACE=${OPENSHIFT_PROJECT}
# SOURCE_REPOSITORY_URL=${GIT_URL}
# SOURCE_REPOSITORY_REF=${GIT_BRANCH}
# KAFKA_HOST=${KAFKA_HOST}
# KAFKA_PORT=${KAFKA_PORT}
# KAFKA_NAMESPACE=${KAFKA_NAMESPACE}
# MINIMUM_REPLICAS=${MINIMUM_REPLICAS}
# MAXIMUM_REPLICAS=${MAXIMUM_REPLICAS}
# TARGET_CPU_UTILIZATION=${TARGET_CPU_UTILIZATION}
# BUILD_VERSION=${BUILD_VERSION}
# PAUSE_KAFKA_FOR_FILE_UPLOAD_SERVICE=${PAUSE_KAFKA_FOR_FILE_UPLOAD_SERVICE}
# POSTGRES_SQL_SERVICE_HOST=${POSTGRES_SQL_SERVICE_HOST}
# HOSTS_UPLOAD_TIMEOUT=${HOSTS_UPLOAD_TIMEOUT}
# HOSTS_UPLOAD_FUTURES_COUNT=${HOSTS_UPLOAD_FUTURES_COUNT}
# DATABASE_ADMIN_PASSWORD=<DATABASE_ADMIN_PASSWORD>
# DATABASE_PASSWORD=<DATABASE_PASSWORD>
# DATABASE_USER=<DATABASE_USER>
# DATABASE_SERVICE_CERT=<DATABASE_SERVICE_CERT>
