#
# Copy this file to yupana.git/openshift/parameters and remove the .deploy.example extension.
# Modify/Add/Comment/Uncomment out any values you want to change.
#
NAME=yupana
NAMESPACE=yupana
MINIMUM_REPLICAS=1
MAXIMUM_REPLICAS=3
TARGET_CPU_UTILIZATION=75
HOSTS_PER_REQ=250
MAX_THREADS=10
DATABASE_SERVICE_NAME='yupana-db'
POSTGRES_SQL_SERVICE_HOST='yupana-db.yupana.svc'
BUILD_VERSION='0.1.0'
SOURCE_REPOSITORY_URL='https://github.com/quipucords/yupana.git'
SOURCE_REPOSITORY_REF='master'
