# NAME=yupana
# MINIMUM_REPLICAS=1
# MAXIMUM_REPLICAS=3
# TARGET_CPU_UTILIZATION=75
# HOSTS_PER_REQ=250
# MAX_THREADS=10
# DATABASE_SERVICE_NAME='yupana-db'
# POSTGRES_SQL_SERVICE_HOST='yupana-db.yupana.svc'
# HOST_INVENTORY_UPLOAD_MODE=kafka
