#
# Copy this file to yupana.git/openshift/parameters and remove the .deploy.example extension.
# Modify/Add/Comment/Uncomment out any values you want to change.
#
NAME=yupana
NAMESPACE=yupana
DATABASE_SERVICE_NAME='yupana-db'
