-i https://pypi.python.org/simple
aiokafka==0.5.2
asynctest==0.13.0
certifi==2019.9.11
chardet==3.0.4
django-environ==0.4.5
django-prometheus==1.1.0
django==2.2.4
djangorestframework==3.10.2
gunicorn==19.9.0
idna==2.8; python_version != '3.3.*'
kafka-python==1.4.6
prometheus-client==0.7.1
psycopg2-binary==2.8.3
pytz==2019.2
requests==2.22.0
urllib3==1.25.3; python_version != '3.0.*'
whitenoise==4.1.3
